@using MVCProject10._5._2019.Controllers
@using MVCProject10._5._2019.Models
@{
    ViewBag.Title = "AddInCart";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<table class="table table-bordered table-hover">
    <thead class="alert-success">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Sub Total</th>
            <th class="text-center">Image</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var  prod in (List<myCart>)Session["Cart"])
        {
            <tr>
                <th class="text-center">@prod.prod.prod_name</th>
                <th class="text-center">@prod.prod.price</th>
                <th class="text-center">@prod.quantity</th>
                <th class="text-center">@(prod.quantity * prod.prod.price)</th>
                <th class="text-center"><img src="@Url.Content(prod.prod.prod_image)" width="60" height="60" /></th>
                <td class="text-center">@Html.ActionLink("Delete", "DeleteFromCart","UserInterface", new { id = @prod.prod.prod_id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-center">@Html.ActionLink("Commit", "InsertOrder",new { id = 1 }, new { @class = "btn btn-success btn-block" })</td>
            <td colspan="3" class="text-center">@Html.ActionLink("Back To Producs", "Index",null, new { @class = "btn btn-info btn-block" })</td>
        </tr>
    </tbody>
</table>