@model IEnumerable<MVCProject10._5._2019.Models.admin_tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered table-hover" id="DataTable">
    <thead class="alert-success">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <th class="text-center">@admin.id</th>
                <th class="text-center">@admin.username</th>
                <td class="text-center">@Html.ActionLink("Edit", "Edit", "adminomer", new { id = @admin.id }, new { @class = "btn btn-primary" })</td>
                <td class="text-center">@Html.ActionLink("Delete", "Delete", "adminomer", new { id = @admin.id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>