@model MVCProject10._5._2019.Models.product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.prod_id)
        <div class="form-group">
            @Html.LabelFor(model => model.prod_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.prod_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prod_name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.prod_description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.prod_description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prod_description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.stock, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.stock)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cat_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Cat_ID, ViewBag.cats as SelectList, "Select Category",new { @class="form-control"})
            </div>
        </div>
        @if (!String.IsNullOrWhiteSpace(Model.prod_image))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.prod_image, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="@Url.Content(Model.prod_image)" width="500" height="300" /><br /><br />
                    <input type="file" class="form-control" name="imgfile" />
                    @Html.ValidationMessageFor(model => model.prod_image)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>Image</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="imgfile" />
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-success" })
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
